<% include ../header %>


hello signup

<form action="/accounts/signup" method="post">
<input type="text" name="email">
<input type="text" name="password">
<input type="submit" value="add">
</form>

<% include ../footer %>
