<<<<<<< HEAD
<% include ../header %>


hello signup

<form action="/accounts/signup" method="post">
<input type="text" name="email">
<input type="text" name="password">
<input type="submit" value="add">
</form>

<% include ../footer %>
=======
hello signup
>>>>>>> c6919b0c6262ec989d8240a6f6e69fd6175e6fdf
