<% include ../header %>


<p>hello create page</p>

<form action="/notes/create" method="post">
<input type="text" name="title">
<input type="text" name="text" value="">
<input type="submit" value="add">
</form>


<% include ../footer %>
